body {
  padding-left: 50px;
  padding-top: 30px;
  background-image: url("llogo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 500px 400px;
}

a {
  text-decoration: none;
  color: #364428;
}

a:hover {
  color: red;
}

a:active {
  color: blue;
  box-shadow: 0 3px 4px 0;
}

marquee {
  color: red;
  box-shadow: 0 3px 4px 0 black;
}

#search {
  padding-left: 80%;
}
#para {
  display: inline-flex;
  list-style: none;
}

.dropbtn {
  background-color: #b163f2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a3c8a8;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.li1 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 4px 5px 0;
}

.li1:hover {
  border-radius: 15px;
  color: white;
  background-color: #69c9f6;
}

.dropdown-content a:hover {
  background-color: #b3c4e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #b3c4e0;
}

.li2 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 4px 5px 0;
}
.li2:hover {
  border-radius: 15px;
  color: white;
  background-color: #69c9f6;
}

.li3 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 4px 5px 0;
}
.li3:hover {
  border-radius: 15px;
  color: white;
  background-color: #69c9f6;
}

.li4 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 4px 5px 0;
}
.li4:hover {
  border-radius: 15px;
  color: white;
  background-color: #69c9f6;
}

.li5 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 4px 5px 0;
}
.li5:hover {
  border-radius: 15px;
  color: white;
  background-color: #69c9f6;
}

.li6 {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  box-shadow: 0 4px 5px 0;
}
.li6:hover {
  border-radius: 15px;
  color: white;
  background-color: #69c9f6;
}

.para {
  padding: 20px;
}
#para2 {
  display: inline-flex;
  list-style: none;
}

.img {
  padding-left: -30px;
}

#ul {
  display: inline-flex;
}
.li {
  list-style: none;
  border: 1px solid black;
  padding: 30px;
  background-color: grey;
  cursor: pointer;
}

.but {
  background-color: #57daad;
  color: black;
  font-size: 15px;
  transition-duration: 0.6s;
  box-shadow: 0 5px 6px 0 black;
}
.but:hover {
  background-color: #dcae0c;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

.slider {
  overflow: hidden;
  height: 70%;
}

.slider figure div {
  float: left;
  width: 20%;
}
.slider figure img {
  width: 80%;
  height: 380px;
  float: center;
}
.slider figure {
  position: relative;
  width: 500%;

  animation: 20s slideshow infinite;
}
@keyframes slideshow {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }

  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -300%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }

  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
}
